$menu-items: 5;
$width: (100/$menu-items) * 1%;

$background-color: #ccc;
$indicator-color: #3b5998;
$text-color: #333;



.navbar {
  list-style: none;
  max-width: 720px;
  padding: 0;
  width: 100%;
  display: block;
  margin: 50px auto;
}

.navbar__item {
  background-color: #fff;
  float: left;
  display: block;
  text-align: center;
  width: $width;
  margin: 0;
  padding: 0;
  &.navbar__item--active a {
    color: $indicator-color;
  }
  a {
    text-decoration: none;
    padding: 16px 0;
    display: block;
    color: $text-color;
    &:hover {
      color: $indicator-color;
    }
  }
  
  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }

}

.navbar--with-indicator {
  position: relative;
  .navbar__item:last-child {
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: $width;
      left: 0;
      top: 50px;
      background-color: $indicator-color;
      transition: left .5s ease;
    }
  }

  @for $i from 1 through ($menu-items - 1) {
    .navbar__item:nth-child(#{$i}).navbar__item--active ~ .navbar__item:last-child:after {
      left: ($width*$i) - $width;
    }
  }

  @for $i from 1 through ($menu-items - 1) {
    .navbar__item:nth-child(#{$i}):hover ~ .navbar__item:last-child:after {
      left: ($width*$i) - $width;
    }
  }
}

.navbar__item {
  &:last-child {
    &:hover, &.navbar__item--active {
      &:after {
        left: 100% - $width !important;
      }
    }
  }
}

body {
  background-color: $background-color;
  font-family: Roboto, sans-serif;
}